<h2>Search Result for "<%= @search_term %>"</h2>
<% if @result.present? %>
  <strong>No results found.</strong>
<% else %>
<ul>
  <li><%= link_to @merchant.name, admin_merchant_path(@merchant.id) %></li>
</ul>
<% end %>
