<h2><%= header %> an Item</h2>
<form>
  <input type="hidden" name="merchant_id" value="<%= @merchant_id%>"> 
  <strong>Item Name:</strong>
  <input id="item-name" type="text" name="name"><br>
  <strong>Description:</strong>
  <input id="item-description" type="text" name="description"><br>
  <strong>Price:</strong>
  <input id="unit_price" type="number" name="unit_price"><br>
  <input id="item-submit" type="submit">
</form>
